*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
}

body{
    background: #637A9F;
    color:azure;
    overflow: hidden;
    overflow-y: scroll;
}